<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="keywords" content="biology technology, information technology, point, one, break, human, earth, universe">
	<meta name="description"
				content="Entertain you with the liveliest and enlighten you with everything worth knowing. World's greatest wonder is the world itself. Know about things you never knew and think about life intelligently.">
	<title>{{ title }}</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<header id="header" class="navbar">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="container-fluid">
		<!--<div class="container">-->
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Point</a>
				<!--<a class="navbar-brand" href="#">
					<img src="/static/img/icon.png" alt="Brand">
				</a>-->
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">.BT <span class="sr-only">(current)</span></a></li>
					<li><a href="#">.IT</a></li>
					<li><a href="#">.TECH</a></li>
					<li><a href="#">.EDU</a></li>
					<li><a href="#">.LIFE</a></li>
					<li><a href="#">.ME</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<!-- Button trigger modal -->
						<a type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
							login
						</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>

<div id="important"  class="jumbotron" style="color:#cdbfe3; background-color:#6f5499; padding:30px 0; margin:-20px 0 20px 0;">
	<div class="container">
		<h1 style="color:#fff; font-size:60px">Welcome to Point's World!</h1>
		<p style="font-size:24px; line-height:48px">Point One, Point Break.</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>

{% block main %} {% endblock %}

<footer style="padding: 20px 0; color: #f9f2f4;" class=" navbar-inverse">
	<div class="container">
		<p>
			<a target="_blank" href="#">Website</a> -
			<a target="_blank" href="#">GitHub</a>
		</p>
		<p>This ... is created by <a target="_blank" href="#">@point</a>.</p>
		<p>Code licensed <a target="_blank" href="#">Apache</a>.</p>
	</div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/bower_components/jquery/dist/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
